@import 'theme.scss';
@import 'breakpoints.scss';
@import 'general.scss';
@import './layout/layout.scss';
@import './layout/intro.scss';
@import './layout/summary.scss';
@import './layout/calender.scss';
@import './layout/countdown.scss';
@import './layout/warning.scss';
@import './layout/reservation.scss';

* {
    font-family: "Lato", sans-serif;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
